<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HELLDIVERS2 Count</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="public/style.css" />
    <link rel="icon" type="image/x-icon" href="/public/skull.png" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"
      integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <h1>
      <p><abbr title="Steam Only">Current</abbr> <span>HELLDIVERS</span></p>
      <div class="flex" hx-get="/divers/" hx-trigger="load, every 300s">
        <kbd>Loading<small>Last Update: 99:99:99 UTC</small></kbd>
        <span class="grid">
          <kbd>Loading<small>48H Peak</small></kbd>
          <kbd>Loading<small>Peak</small></kbd>
        </span>
      </div>
      <small class="nomargin">
        <div class="grid marginTop">
          <div>
            <kbd>
              <a
                href="https://twitter.com/helldivers2/"
                class="secondary"
                target="_blank"
                rel="noopener noreferrer"
              >
                Twitter</a
              ></kbd
            >
          </div>
          <div>
            <kbd>
              <a
                href="https://steamdb.info/app/553850/"
                class="secondary"
                target="_blank"
                rel="noopener noreferrer"
                >SteamDB</a
              ></kbd
            >
          </div>
          <div>
            <kbd>
              <a
                href="https://steamcommunity.com/app/553850/allnews/"
                class="secondary"
                target="_blank"
                rel="noopener noreferrer"
                >Steam News</a
              ></kbd
            >
          </div>
          <div>
            <kbd>
              <a
                href="https://discord.gg/helldivers"
                class="secondary"
                target="_blank"
                rel="noopener noreferrer"
                >Discord</a
              ></kbd
            >
          </div>
        </div>
      </small>
    </h1>
    <div>
      <canvas
        id="playerChart"
        width="450"
        height="300"
        hx-get="/data/"
        hx-trigger="load, every 3600s"
      ></canvas>
    </div>
    <script src="public/charts.js"></script>
  </body>
</html>
